# Node modules
node_modules/

# Environment variables
.env
note.ts

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Coverage directory
coverage/

# Temporary files
*.tmp
*.temp